.Header {
    background-color: #02353c;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
    color: rgb(3, 155, 104);
    align-items: flex-start;
}

.NavLinks {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.NavLinks li {
    margin-right: 20px;
}

.logoimage {
    padding: 10px;
    max-height: 100px;
    max-width: 100px;
    /* TODO: round, responsive */
}

.HeroText {
    color: white;
}