.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #2eaf7d;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.DashboardPage {
  flex: 1;
}

.GalleryPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-block {
  display: flex;
  max-width: 1024px;
  max-height: 788px;
}

.ReviewsPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContactPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}